@import url("./global.css");
.home {
  background-color: #2f3334;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  height: 44px;
  background-color: #181a1c;
  gap: 12px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo {
  width: 20px;
  height: 18px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.account img {
  width: 20px;
  height: 20px;
}

.hero-section {
  width: 100%;
  height: 225px;
  position: relative;
}
.hero-section img {
  width: 100%;
  height: 100%;
}

.headline-content {
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 12px;
}

.headline-content h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
}

.headline-content p {
  height: 32px;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 16px 0;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.left-button-container {
  width: 240px;
}

.info-button-container img {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.button {
  border-radius: 48px;
  padding: 4px 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.2px;
  cursor: pointer;
  border: none;
}

.primary {
  background-color: #0f1e93;
}

.secondary {
  background-color: #22282a;
}

.disabled {
  color: #c1c2c4;
  cursor: not-allowed;
  border: 1px solid #c1c2c4;
  background-color: transparent;
  padding: 4px;
}

.rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
}

.continue-watching-section {
  height: 235px;
}

.continue-watching-section h5,
.top-today h5,
.film-trending h5,
.new-release h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 8px;
}

.landscape-card {
  width: 309px;
  height: 151px;
  flex: 0 0 auto;
  position: relative;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.landscape-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

.card-description img {
  width: 12px;
  height: 12px;
}

.card-description p {
  padding-left: 16px;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 16px;
}

.footer {
  background-color: #151515;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chill-logo-footer {
  display: flex;
  gap: 3px;
  padding: 8px 0;
}

.chill-logo-footer p {
  font-family: "Londrina Solid", sans-serif;
}
.footer-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
